html, body {
  height: 100%;
  padding: 0;
}

body {
  margin: 0;

  display: flex;
  justify-content: right;
  align-items: center;

}

/* html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
} */




/* Alright so set it to right because if you don't, it'll leave a blank portion on the left.
